*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: orange;
}
.flex-container {
    display: flex;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: larger;
    font-weight: 900;
    list-style-type: none;
}

.item{
    flex: auto;
    text-decoration: underline;
    color: rgba(29, 12, 1, 0.911);
}
.top{
    color: rgba(97, 41, 4, 0.911);
}

.top{
    text-align: center;
    font-size: 6rem;
}

.topin{
    text-align: center;
    font-size: 1.8rem;
    color: rgba(29, 12, 1, 0.911);
}

.topas{
    background-color: blanchedalmond;
}

#toptee{
    color: orange;
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
}

.topak{
    background-image: url("pictures/marry-me-chicken-lead-67a503f26dff1.avif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    margin-bottom: 2rem;
}

.container{
    padding: 1rem;
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;
    align-items: center;*/
}


.container .one, .two, .three, .four, .five, .six{
    flex: 1, 1, 0;
    margin: 2rem;
    padding: 3rem;
    border: 0.25px;
    border-style: solid;
    border-color: rgb(134, 77, 6);
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    width: min-content;
    height: min-content;
    border-radius: 20px;
}

.container .one .ola{
    display: flex;
    justify-content: space-around;
}

.container .one .alpha{
    border-radius: 15px;
    width: fit-content;
}
.container .one .alpha img{
    border-radius: 15px;
}

.container .one .taskforce #front{
    font-size: 1.5rem;
    font-weight: 900;
    list-style-type:none;
}

.container .two .ola{
    display: flex;
    justify-content: space-around;
}
.container .two .alpha{
    border-radius: 15px;
    width: fit-content;
}
.container .two .alpha img{
    border-radius: 15px;
}
.container .two .taskforce #front{
    font-size: 1.5rem;
    font-weight: 900;
}

.container .three .ola{
    display: flex;
    justify-content: space-around;
}
.container .three .alpha{
    border-radius: 15px;
    width: fit-content;
}
.container .three .alpha img{
    border-radius: 15px;
}

.container .three .taskforce #front{
    font-size: 1.5rem;
    font-weight: 900;
}

.container .four .ola{
    display: flex;
    justify-content: space-around;
}
.container .four .alpha{
    border-radius: 15px;
    width: fit-content;
}
.container .four .alpha img{
    border-radius: 15px;
}

.container .four .taskforce #front{
    font-size: 1.5rem;
    font-weight: 900;
}

.container .five .ola{
    display: flex;
    justify-content: space-around;
}
.container .five .alpha{
    border-radius: 15px;
    width: fit-content;
}
.container .five .alpha img{
    border-radius: 15px;
}

.container .five .taskforce #front{
    font-size: 1.5rem;
    font-weight: 900;
}

.container .six .ola{
    display: flex;
    justify-content: space-around;
}
.container .six .alpha{
    border-radius: 15px;
    width: fit-content;
}
.container .six .alpha img{
    border-radius: 15px;
}

.container .six .taskforce #front{
    font-size: 1.5rem;
    font-weight: 900;
}
